*{
    margin: 0;
    padding: 0;
}

.logo {
    padding: 0px 0px 0px 20px;
}

.main-body {
    background-image: url(/main-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

a {
    text-decoration: none;
}

header a:hover {
    color: white;
    background-color: #872642;
    opacity: 0.5;
}

li {
    list-style-type: none
}

/* header */


header div {
    display: flex;
    border: 1px solid #872642 ;
    background-color: #872642 ;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    align-items: center;
    position: static;
}

header ul {
    display: flex;
    justify-content: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
    color: white;
}

.header-wrapper {
    display: flex;
}

.header-wrapper ul {
    align-self: center;
    margin-left: 62%;
}

header ul li {
    padding: 20px;
    font-size: 23px;
    color: white;
}


header ul li a {
    text-decoration: none;
    color: white;
}

/* main */

.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main div h1 {
    color: white;
    text-align: center;
    margin-top: 10%;
    font-size: 80px;
    margin-bottom: 10%;
}

main div a h2 {
    color: white;
    text-align: center;
    border: 4px solid white;
    padding: 17px;
    margin: auto 46%;
}




/* footer */

footer ul {
    display: flex;
    border: 1px solid #4C4556;
    background-color: #4C4556;
    justify-content: center;
    color: white;
    margin-top: 10%;
    font-size: 20px;
}

footer ul li {
    padding: 20px;
}

/* excercises */

.ex-body {
    background: linear-gradient(white, #9198e5);
}

section {
    display: flex;
    flex-direction: column;
}

section h1 {
    margin: 50px 200px;
}

section div {
    display: flex;
    margin: 0px 200px;
    text-align: justify;
    justify-content: center;    
}

section div p {
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
}

iframe {
    border: 1px solid #A0D3F9 ;
}

